[submodule ".config/awesome/awesome-wm-widgets"]
	path = .config/awesome/awesome-wm-widgets
	url = git@github.com:streetturtle/awesome-wm-widgets.git
[submodule ".config/mpv/scripts/mpv-bookmarker"]
	path = .config/mpv/scripts/mpv-bookmarker
	url = git@github.com:NurioHin/mpv-bookmarker.git
